- name: Test configuration templates for OpenWrt upgrade playbook
  hosts: openwrt
  connection: local
  user: root
  become: false
  gather_facts: false
  serial: 1
  ignore_unreachable: true
  vars:
    aps: "{{ groups['aps'] }}"

  tasks:

    - name: Get public IP address
      when: upnp.configure_with_external_ip is defined and upnp.configure_with_external_ip
      ansible.builtin.command:
        cmd: wget -qO- http://ipecho.net/plain # noqa: command-instead-of-module
      register: external_ip_command
      changed_when: false
      check_mode: false

    - name: Set variable for public IP address
      when: upnp.configure_with_external_ip is defined and upnp.configure_with_external_ip
      ansible.builtin.set_fact:
        external_ip: '{{ external_ip_command.stdout_lines[0] }}'

    - name: Hash password
      delegate_to: localhost
      become: false
      ansible.builtin.command:
        cmd: openssl passwd -salt 'YRNxiMTL' -1 '{{ ssh_password }}'
      register: ssh_password_hashed_command
      changed_when: false
      check_mode: false

    - name: Set variable for hashed password
      ansible.builtin.set_fact:
        ssh_password_hashed: '{{ ssh_password_hashed_command.stdout_lines[0] }}'

    - name: Creating required directories
      ansible.builtin.file:
        path: '{{ item }}'
        recurse: true
        state: directory
      with_items:
        - test
        - test/{{ inventory_hostname_short }}
      loop_control:
        label: Created directory {{ item }}

    - name: Get all configuration files
      ansible.builtin.find:
        file_type: file
        paths: config
      delegate_to: localhost
      register: configuration_files

    - name: Copy configuration
      ansible.builtin.template:
        src: 'config/{{ item }}'
        dest: 'test/{{ inventory_hostname_short }}/{{ item }}'
        mode: u=rw,g=rw,o=r
      with_items: '{{ configuration_files.files | map(attribute="path") | map("basename") }}'
      vars:
        networks: "{{ common_networks | combine(host_networks | default({}), recursive=True) }}"
      loop_control:
        label: Copied test/{{ inventory_hostname_short }}/{{ item }}
